


<body>

  <div *ngIf="rol == 'Admin' || rol=='admin'">
      <!-- <h1>HOME ADMIN</h1> -->


      <!-- <ul>
          <a li>Fichas</a>
          <li>Turnos</li>
          <li>Animales</li>
          <li a href="">Usuarios</li>
          <li></li>
          <li></li>
      </ul> -->
      <!-- <div class="sidenav" id="admin">
          <a class="navbar-brand" routerLink="../../home">
              <i class="fas fa-user-shield"></i>
              <img id="logo" src="../assets/img/logoTransparente.png" width="100" height="62"> -->
         <!-- </a>
          <a routerLink="../admin/usuarios">Usuarios</a>
          <a routerLink="../../admin/afiliados">Afiliados</a>
          <a routerLink="/construccion">Mascotas</a>
           <a routerLink="/construccion">Turnos</a> -->
      </div>
      <!-- <ul>
          <a li>Fichas</a>
          <li>Turnos</li>
          <li>Animales</li>
          <li a href="">Usuarios</li>
          <li></li>
          <li></li>
      </ul> -->


      <!-- <div *ngIf="rol == 'User' || rol=='user'">
          <h1>HOME DE USUARIO</h1>

      </div> -->


      <footer class="footer bg-black text-center">
          <div class="container">
              <p class="text-white">

                  &copy; {{getAnio }} Pet Control Software

              </p>
          </div>

      </footer>
